hg38/rna.fna.gz filter=lfs diff=lfs merge=lfs -text
hg38/GCF_000001405.40_GRCh38.p14_genomic.parsed.fna.gz filter=lfs diff=lfs merge=lfs -text
hg38/GRCh38.p14.refgene.txt filter=lfs diff=lfs merge=lfs -text
